#board {
  margin-top: 10px;
}

.box {
  border: 1px solid black;
  height: 150px;
  padding: 0px;

}

#headerimg {
  height: 150px;
}

.d1, .d2 {
  height: 80%;
  width: 80%;
  margin: 10% auto;
  display: block;
}
